

.navbar-collapse{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 10px;
    
 }

 .navbar-nav{
    flex-grow: 1;
 }
 
 .navbar-nav li{
    margin-left: 10px;
 }
 
 .navbar-brand{
    flex-grow: 0;
 }
 .login{
    margin-left: 10px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    margin: 15px;
 
 }
 
 .login:hover {
    background-color: #0e0d0d;
    color: #ffffff;
    transform: scale(1.2);
    transition: transform 0.3s ease;
    margin: 30px;
 }
 .sign-up{
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
 
 }
 
 .sign-up:hover {
    background-color: #0e0d0d;
    color: #ffffff;
    transform: scale(1.2);
    transition: transform 0.3s ease;
    margin: 30px;
 }
 .navbar-brand{
    margin-left: 20px;
 }



.nav-link{
    color: #ffffff;
    margin-left: 30px;
}

.nav-link:hover{
    background-color: #e90e0e;
    color: #ffffff;
    transform: scale(1.5);
    transition: transform 0.3s ease;
    font-weight: 500;
}

.logo{
    height: 100px;
    width: 100px;
}
.logo:hover{
    transform: scale(1.5);
    transition: transform 0.3s ease;
    cursor: pointer;
}